.DS_Store
service/.idea/
ui/node_modules/.cache/
service/target/*
service/PersonalWebsite.iml
scheduler/target/*
scheduler/logs/
service/.credentials
scheduler/.credentials
lib/credentials/.idea/
persian-services/exercise-tracker/.idea/
persian-services/exercise-tracker/exercise-tracker.iml
scheduler/.idea/
scheduler/scheduler.iml
persian-services/exercise-tracker/target/
ui/node_modules/*
ui/build
lib/credentials/target/*
service/dependency-reduced-pom.xml
.idea/
service/logs
persian-services/exercise-tracker/logs
scheduler/dependency-reduced-pom.xml
service/local-persian-repository/me/pabloestrada/exercise-tracker/maven-metadata-local.xml
