.Title {
  font-family: 'radnika';
}

.MainCard {
  background: #d3fff2 !important;
}

.MainContainer {
  margin-top: 2vh;
  font-family: 'radnika';
}

.SocialMediaContainer {
  padding: 1vw !important;
}
