.Container {
  /* background: #d3fff2 !important; */
  margin-top: 5vh !important;
  width: 70vw !important;
}

.Header {
  opacity: 0.75 !important;
}

.ButtonContainer {
  margin-top: 0.75vh !important;
}

.Card {
  opacity: 0.5;
  /* width: 80% !important; */
}

.Header {
  margin-top: 5vh !important;
}
