.ProjectsContainer {
    background: #d3fff2 !important;
    margin-top: 12vh !important;
    padding-bottom: 4vh !important;
  }
  
  .ProjectsHeader {
    margin-top: 3vh !important;
    margin-bottom: 3vh !important;
    opacity: 0.75 !important;
  }
  
  .Container {
    width: 50vw !important;
  }