@import "semantic-ui";

@font-face {
    font-family: 'koliko';
    src: font-url('koliko-light-webfont.woff2') format('woff2'),
         font-url('koliko-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'radnika';
    src: font-url('radnika-medium-webfont.woff2') format('woff2'),
         font-url('radnika-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
  color: #002f21;
  background: #4AC29A;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #BDFFF3, #4AC29A);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #BDFFF3, #4AC29A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
