.ProjectsContainer {
  background: #d3fff2 !important;
  margin-top:12vh !important;
  padding-bottom:12vh !important;
}

.ProjectsHeader {
  margin-top: 3vh !important;
  margin-bottom: 10vh !important;
  opacity: 0.75 !important;
}
