<div class="ui grid" style="margin-top: 1vh;">
  <div class="ten wide column"></div>
  <div class="ui text menu stackable">
    <a class="active item">
      About me
    </a>
    <a href="#projects" class="item">
      Projects
    </a>
    <a class="item" href="#skills">
      Skills
    </a>
    <a class="item" href="#resume">
      Resume
    </a>
    <a href="#contact" class="item">
      Contact
    </a>
    <a href="#contact" class="item">
      Blog
    </a>
  </div>
</div>
