<div class="ui grid" style="margin-top: 1vh;">
  <div class="ten wide column"></div>
  <div class="ui text menu stackable">
    <%= link_to 'About me', root_path, class: 'active item' %>
    <a href="#projects" class="item">
      Projects
    </a>
    <a class="item" href="#skills">
      Skills
    </a>
    <a class="item" href="#resume">
      Resume
    </a>
    <a href="#contact" class="item">
      Contact
    </a>
    <%= link_to 'Blog', comfy_cms_render_page_path, class: 'item' %>
  </div>
</div>
