<% flash.each do |msg_type, msg_content| %>
  <div class="ui <%= msg_type %> message transition", style="margin-top: 2vh;">
    <i class="close icon"></i>
    <div class="header">
      <%= msg_content %>
    </div>
  </div>
<% end %>
